---
---

@import "{{ site.theme }}";

body {
  color: #CCC4BC;
  background: #0E0909;
}

h1, h2 {
  color: #F5F0EB;
}

a {
  color: #CE4242;
  &:hover {
    color: #E56B6B;
  }
}

# title {
  font-weight: bold;
}

#header {
  background: #241D1D;
  border-bottom: 4px solid #3A2929;
}

#header nav ul li a {
  color: #F5F0EB;
  border: 1px solid #8F3030;
  background: linear-gradient(#CE4242, #A83232);
  background-color: #CE4242;

  &:hover {
    background: linear-gradient(#E56B6B, #C94B4B);
    background-color: #E56B6B;
    border: 1px solid #A83A3A;
  }
}
