---
---

@import "{{ site.theme }}";

body {
  color:#CCC4BC; // text
  background: #1B1717; // bg
}

h1, h2 {
  color:#F5F0EB; // heading
}

a {
  color:#CE4242; // link
  &:hover {
    color: #E56B6B; // hovered link
  }
}

#header {
  background: #353535; // header
  a {
     background-color: #CE4242; // button
    &:hover {
      color: #E56B6B; // hovered button
    }
  }
}
