---
---

@import "{{ site.theme }}";

body {
  color: #D7DDD8;
  background: #101817;
}

h1, h2 {
  color: #F4F6F3;
}

a {
  color: #5E9A70;

  &:hover {
    color: #82B58C;
  }
}

#header {
  background: #1D2927;
  border-bottom: 4px solid #344541;
}

#header nav ul li a {
  color: #F4F6F3;
  border: 1px solid #416B62;
  background: linear-gradient(#5F8F7A, #3F6F5E);
  background-color: #5F8F7A;

  &:hover {
    background: linear-gradient(#7BAF8C, #5A9271);
    background-color: #7BAF8C;
    border: 1px solid #56806C;
  }
}
